.App {
  text-align: center;
  font-family: 'Comic Sans';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  /* Color Schemes */
  --main-color: #0b0c10;
  --accent-color-1: #1f2833;
  --accent-color-2: #c5c6c7;
  --accent-color-3: #66fcf1;
  --accent-color-4: #45a29e;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--main-color);
  min-height: 10vh;
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--accent-color-3);
}

.App-link {
  color: var(--accent-color-4);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}