body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --grid-color: rgba(150, 150, 150, 1);

  /* Border Colors are all black. */
  --border-left-color: black;
  --border-top-color: black;
  --border-right-color: black;
  --border-bottom-color: black;

  /* Defaults for testing */
  --tile-size: 20px;
  --border-width: 1px;
}

/* Grid Square CSS */
.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
}

.no-border-left {
  border-left: none;
}

.no-border-right {
  border-right: none;
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-bottom: none;
}

.visited {
  background-color: deepskyblue;
}

.current {
  background-color: darkblue;
}

/* Grid Board CSS */
.grid-board {
  grid-gap: 0;
  align-self: flex-start;
}

.grid-row {
  display: flex;
}

/* Controls CSS */
.controls {
  display: flex;
  flex-direction: row;
}

.control-button {
  --size: calc(var(--tile-size) * 2.5);
  width: var(--size);
  height: var(--size);
  text-align: center;
  display: block;
  border-width: 1px;
}