body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--accent-color-1);
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --grid-color: rgba(150, 150, 150, 1);

  /* Border Colors are all black. */
  --border-left-color: var(--accent-color-2);
  --border-top-color: var(--accent-color-2);
  --border-right-color: var(--accent-color-2);
  --border-bottom-color: var(--accent-color-2);

  /* Color Schemes */
  --main-color: #0b0c10;
  --accent-color-1: #1f2833;
  --accent-color-2: #c5c6c7;
  --accent-color-3: #66fcf1;
  --accent-color-4: #45a29e;

  /* Defaults for testing */
  --tile-size: 20px;
  --border-width: 1px;
}

/* Grid Square CSS */
.grid-square {
  border-style: solid;
  width: var(--tile-size);
  height: var(--tile-size);
  border-width: var(--border-width);
  border-left-color: var(--border-left-color);
  border-top-color: var(--border-top-color);
  border-right-color: var(--border-right-color);
  border-bottom-color: var(--border-bottom-color);
  opacity: 25%;
}

.no-border-left {
  border-left: none;
}

.no-border-right {
  border-right: none;
}

.no-border-top {
  border-top: none;
}

.no-border-bottom {
  border-bottom: none;
}

.visited {
  /*background-color: var(--accent-color-4); */
  border-width: 2px;
  opacity: 100%;
}

.current {
  background-color: var(--accent-color-2);
}

/* Grid Board CSS */
.grid-board {
  grid-gap: 0;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  padding-inline-start: 10%;
}

.grid-row {
  display: flex;
}

/* Controls CSS */
.header-container {
  display: flex;
}

.main-container {
  display: flex;
  height: 80vh;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  padding: 3vh;
}

.col-span-2 {
  width: 50%;
  /* Adjust this to change the column width */
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid var(--accent-color-2);
  border-radius: 4px;
  background-color: var(--accent-color-4);
  color: var(--accent-color-1);
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-color-3);
}

.label {
  color: var(--accent-color-3)
}